@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+J+Guides:ital@0;1&display=swap');
/* font-family: "Playwrite GB J Guides", cursive;
font-weight: 400;
font-style: italic; */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+GB+J+Guides:ital@0;1&family=Playwrite+NL+Guides&display=swap');
/* .playfair-display-<uniquifier> {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');